.container
    %h1 Notice
    .content
        %p You must register with your Rose-Hulman/Kerberos login information. Once registered you will be able to change your password, but not your username. <b style="color: red;">Please note, your password will be stored unencrypted or hashed in a sqlite database.</b> This is because a plain text password is required to complete the authentication with Rose's servers when scraping bandwidth usage. Your information will only ever be transferred over SSL, and only when inside the school network (by virtue of a Rose policy not allowing access to the bandwidth page outside campus or without a VPN).
        %p A <a href="http://boxcar.io/">boxcar</a> account is required for push notifications. Boxcar is only available for iOS.

.container
    %h1 Register
    .content
        %form{:action => url('/register'), :method => :post}
            %label.primary{:key => :username}
                Username
                %input{:type => :text, :id => :username, :name => :username}
            %label.secondary{:key => :password}
                Password
                %input{:type => :password, :id => :password, :name => :password}
            %input{:type => :submit, :value => "Register"}
                %span.form_appendage be sure to read the above warnings first!