html {
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: none;
}

body {
	margin: 0;
	padding: 0 9px;
	background: url(../images/underPageBackground.png);
	font-family: sans-serif;
}

a {
	color: #385487;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	body {
		background-size: 320px 480px;
	}
}

div.body_wrap {
	max-width: 600px;
	margin: 0 auto;
}

div.nav {
	background: rgb(60,60,60);
	background: -moz-linear-gradient(top, rgba(60,60,60,1) 0%, rgba(18,18,18,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(60,60,60,1)), color-stop(100%,rgba(18,18,18,1)));
	background: -webkit-linear-gradient(top, rgba(60,60,60,1) 0%,rgba(18,18,18,1) 100%);
	background: -o-linear-gradient(top, rgba(60,60,60,1) 0%,rgba(18,18,18,1) 100%);
	background: -ms-linear-gradient(top, rgba(60,60,60,1) 0%,rgba(18,18,18,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c3c3c', endColorstr='#121212',GradientType=0 );
	background: linear-gradient(top, rgba(60,60,60,1) 0%,rgba(18,18,18,1) 100%);
	
	height: 44px;
	border: 1px solid #121212;
	box-shadow: 0 1px 0 #F1F1F1;
	margin: 10px auto;
	
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

div.nav h1 {
	margin: 0;
	padding: 5px 0 0 0;
	color: white;
	font-size: 1.4em;
}

div.nav a {
	text-decoration: none;
	color: inherit;
}

div.nav h1 img {
	max-height: 100%;
	vertical-align: middle;
	margin: -5px 0 0 0;
	border: none;
	
	-webkit-border-top-left-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-bottomleft: 7px;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}

div.nav ul {
	margin: 11px 10px;
	padding: 0;
	float: right;
}

div.nav ul li {
	background: rgb(51,51,51);
	background: -moz-linear-gradient(top, rgba(51,51,51,1) 0%, rgba(30,30,30,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,51,51,1)), color-stop(100%,rgba(30,30,30,1)));
	background: -webkit-linear-gradient(top, rgba(51,51,51,1) 0%,rgba(30,30,30,1) 100%);
	background: -o-linear-gradient(top, rgba(51,51,51,1) 0%,rgba(30,30,30,1) 100%);
	background: -ms-linear-gradient(top, rgba(51,51,51,1) 0%,rgba(30,30,30,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#1e1e1e',GradientType=0 );
	background: linear-gradient(top, rgba(51,51,51,1) 0%,rgba(30,30,30,1) 100%);
	
	border: 1px solid #171717;
	border-left-color: #393939;
	box-shadow: 0 1px 0 #474747;
	display: inline;
	padding: 0.4em 13px;
	margin: 0;
	color: #aaa;
	
	font-weight: bold;
	font-size: 0.8em;
}

div.nav ul li:first-child {
	border-left-color: #171717;
	
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

div.nav ul li:last-child {
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

div.nav ul li a {
	color: white;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

div.container {
	margin: 10px auto;
	padding: 0;
	background: white;
	border: 1px solid #9C9C9C;
	box-shadow: 0 1px 0 #E5E5E5;
	
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

div.footer {
	text-align: center;
	margin: 10px auto;
}

div.footer a {
	color: black;
	font-weight: bold;
	font-size: 0.8em;
	padding: 1px 4px;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

div.footer a:hover {
	background: #2D2D2D;
	color: #DDD;
	text-decoration: none;
	
	box-shadow: 0 1px 0 white;
}

div.notification p {
	margin: 10px 0;
	padding: 0;
	font-weight: bold;
	text-align: center;
	font-size: 14px;
	color: white;
}

div.error {
	background-color: #800000;
	border-color: #500000;
}

div.message {
	background-color: #202020;
}

div.success {
	background-color: #187A00;
	border-color: #004600;
}

div#chart_container {
	padding: 10px 10px 0 10px;
}

div#chart_div {
	height: 300px;
}

.loading {
	text-align: center;
	font-weight: bold;
	font-size: 0.9em;
	color: #999;
}

div.spinner {
	position: relative;
	width: 54px;
	height: 54px;
	display: inline-block;
}

div.spinner div {
	width: 12%;
	height: 26%;
	background: #999;
	position: absolute;
	left: 44.5%;
	top: 37%;
	opacity: 0;
	-webkit-animation: fade 1s linear infinite;
	-webkit-border-radius: 50px;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

div.spinner div.bar1 {-webkit-transform:rotate(0deg) translate(0, -142%); -webkit-animation-delay: 0s;}    
div.spinner div.bar2 {-webkit-transform:rotate(30deg) translate(0, -142%); -webkit-animation-delay: -0.9167s;}
div.spinner div.bar3 {-webkit-transform:rotate(60deg) translate(0, -142%); -webkit-animation-delay: -0.833s;}
div.spinner div.bar4 {-webkit-transform:rotate(90deg) translate(0, -142%); -webkit-animation-delay: -0.75s;}
div.spinner div.bar5 {-webkit-transform:rotate(120deg) translate(0, -142%); -webkit-animation-delay: -0.667s;}
div.spinner div.bar6 {-webkit-transform:rotate(150deg) translate(0, -142%); -webkit-animation-delay: -0.5833s;}
div.spinner div.bar7 {-webkit-transform:rotate(180deg) translate(0, -142%); -webkit-animation-delay: -0.5s;}
div.spinner div.bar8 {-webkit-transform:rotate(210deg) translate(0, -142%); -webkit-animation-delay: -0.41667s;}
div.spinner div.bar9 {-webkit-transform:rotate(240deg) translate(0, -142%); -webkit-animation-delay: -0.333s;}
div.spinner div.bar10 {-webkit-transform:rotate(270deg) translate(0, -142%); -webkit-animation-delay: -0.25s;}
div.spinner div.bar11 {-webkit-transform:rotate(300deg) translate(0, -142%); -webkit-animation-delay: -0.1667s;}
div.spinner div.bar12 {-webkit-transform:rotate(330deg) translate(0, -142%); -webkit-animation-delay: -0.0833s;}

@-webkit-keyframes fade {
	from {opacity: 1;}
	to {opacity: 0.25;}
}

div.container h1 {
	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	
	background: rgb(238,238,238);
	background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1)));
	background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
	background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
	background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
	background: linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
	
	margin: 0;
	padding: 10px;
	border-bottom: 1px solid #9C9C9C;
	font-size: 1.5em;
	color: black;
	text-shadow: 0 1px 0 white;
}

div.container h1 .capsule {
	background: rgb(204,204,204);
	background: -moz-linear-gradient(top, rgba(204,204,204,1) 0%, rgba(238,238,238,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,204,204,1)), color-stop(100%,rgba(238,238,238,1)));
	background: -webkit-linear-gradient(top, rgba(204,204,204,1) 0%,rgba(238,238,238,1) 100%);
	background: -o-linear-gradient(top, rgba(204,204,204,1) 0%,rgba(238,238,238,1) 100%);
	background: -ms-linear-gradient(top, rgba(204,204,204,1) 0%,rgba(238,238,238,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#eeeeee',GradientType=0 );
	background: linear-gradient(top, rgba(204,204,204,1) 0%,rgba(238,238,238,1) 100%);
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	font-size: 0.5em;
	margin: 2px 0 0 0;
	padding: 5px 15px;
	border: 1px solid #9C9C9C;
	float: right;
	box-shadow: 0 1px 0 white;
}

label.final {
	text-align: center;
	color: #777;
}

h2 {
	background: rgb(226,226,226);
	background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(211,211,211,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(100%,rgba(211,211,211,1)));
	background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(211,211,211,1) 100%);
	background: -o-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(211,211,211,1) 100%);
	background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(211,211,211,1) 100%);
	background: linear-gradient(top, rgba(226,226,226,1) 0%,rgba(211,211,211,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#d3d3d3',GradientType=0 );
	
	margin: -1px 0 0 0;
	padding: 10px;
	border-bottom: 1px solid #9C9C9C;
	border-top: 1px solid #9C9C9C;
	font-size: 1.5em;
	color: black;
	text-shadow: 0 1px 0 white;
}

div.container p {
	padding: 10px;
	margin: 0;
	font-size: 0.9em;
}

.primary { background: #FCFCFC; border-bottom: 1px solid #DBDBDB; }
.secondary { background: #F4F4F4; border-bottom: 1px solid #DBDBDB; }
.c_red { color: #800000; }
.c_orange { color: #FF8000; }
.c_green { color: #008000; }

label,
.label {
	vertical-align: middle;
	padding: 10px;
	font-size: 0.9em;
	font-weight: bold;
	display: block;
}

input[type=submit],
input[type=button] {
	background: rgb(238,238,238);
	background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1)));
	background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
	background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
	background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
	background: linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	margin: 10px;
	padding: 5px 15px;
	border: 1px solid #9C9C9C;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	text-shadow: 0 1px 0 white;
}

h2 input[type=button] {
	margin: 2px 0 0 0;
	float: right;
	box-shadow: 0 1px 0 white;
}

input[type=text]:hover, input[type=text]:focus,
input[type=password]:hover, input[type=password]:focus,
input[type=submit]:hover, input[type=button]:hover,
h2 label.capsule:hover {
	border-color: #717171;
}

input[type=submit]:active,
input[type=button]:active,
h2 label.capsule:active {
	background: rgb(204,204,204);
	background: -moz-linear-gradient(top, rgba(204,204,204,1) 0%, rgba(238,238,238,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,204,204,1)), color-stop(100%,rgba(238,238,238,1)));
	background: -webkit-linear-gradient(top, rgba(204,204,204,1) 0%,rgba(238,238,238,1) 100%);
	background: -o-linear-gradient(top, rgba(204,204,204,1) 0%,rgba(238,238,238,1) 100%);
	background: -ms-linear-gradient(top, rgba(204,204,204,1) 0%,rgba(238,238,238,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#eeeeee',GradientType=0 );
	background: linear-gradient(top, rgba(204,204,204,1) 0%,rgba(238,238,238,1) 100%);
}

label .label_appendage {
	float: right;
}

label input[type=text],
label input[type=password] {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	border: 1px solid #9C9C9C;
	outline: none;
	float: right;
	margin: -2px 0 0 0;
	padding: 3px 5px;
	width: 40%;
}

label input[type=checkbox] {
	margin-right: 10px;
	float: left;
}

.form_appendage {
	margin: 0 0 0 -7px;
	font-size: 0.75em;
	font-weight: bold;
	color: #616161;
}

.form_appendage a {
	color: inherit;
}

.form_appendage input[type=submit],
.form_appendage input[type=button] {
	border: none;
	background: transparent;
	text-decoration: underline;
	padding: 0;
	margin: 0;
}

.notification_toggle {
	width: 90px;
}

@media only screen and (max-width: 550px) {
	div.nav h1 {
		font-size: 1em;
	}
}

@media only screen and (max-width: 480px) {
	div.nav h1 {
		font-size: 0;
		color: transparent;
	}
}

@media only screen and (max-width: 320px) {
	div.nav h1 {
		display: none;
	}
	
	div.nav ul {
		float: none;
		text-align: center;
	}
}